// Grand Central Station


@import 'google-homepage'; 


$bg-default : white;

//first frame

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
  
    
  // Hide Overflowing Elements
  overflow: hidden;
  
  // Relative Parent
  position: relative;
}

// Absolute Children
#sugar,
#square,
#mnm {
  position: absolute;
}

#sugar {
  left: 500px;
  top: 150px;
    width: 100px;
 
    
}

#chocolate {
  bottom: 0;
  right: 0;
  width: 100px;
}

#mnm {
  left: -12px;
    width: 100px;
}

// Override Defaults
h1 {
  margin: 0;
}





#stage:hover #chocolate {
  background: red;
  fill: $bg-default;
  // Transform half size  
  transform: scale(.5);
}

#stage:hover #sugar {
  background: green;
  fill: $bg-default;
  // Transform move down
  transform: translateY(200px);
}

#stage:hover #mnm {
  background: blue;
  fill: $bg-default;
  // Transform move down
  transform: translate(50px, 50px) rotate(45deg);
}
